:root {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    background-image: radial-gradient(ellipse, rgb(32, 59, 136), white);
}
p {
    text-align: center;
    padding-top: 30px;
}

h1 {
    text-align: center;
    font-size: 24px;
}

.title {
    font-size: 50px;
}

input{
    max-width: 20px;
}

.columns {
    padding-top: 30px;
    margin:auto;
    text-align: center;
}

.column:hover, .next-result:hover, .button:hover {
    cursor: pointer;
    transition: transform 100ms ;
    transform: scale(1.125);
}

.box{
    min-height: 400px;    
}

/* input {
margin-bottom: 10px;
margin-top: 30px;
} */

/* .field {
    margin-left: 30%;
    margin: auto;
    width: 30%;
} */

.search-result{
    background-color:rgb(226, 230, 241);
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

/* .next-result:hover{
    cursor: pointer;
    transition: transform 100ms ;

    transform: scale(1.15);
}

.button:hover {
    cursor: pointer;
    transition: transform 100ms ;
    transform: scale(1.1);  
}*/

#grocery-list {
    padding-top: 30px;

    transform: scale(1.3);
}

.options {
    margin: auto;
    width: 200px;
}

.spacing {
    margin-left: 80px;

}

#extra-day{
    display: none;
}

#food-search-btn, #exercise-search-btn, .next-result {
    width: 175px;

    border-radius: 5px; 
}

#food-search-btn {
    margin-left: 35%;
}

#exercise-search-btn {
    float: right;
    margin-left: 55%; 
   
}

.field {
    margin-top: 10px;
}

.input {
    margin-left: 50px;
    border-radius: 5px;
}


.remove{
    background-color: rgb(36, 146, 248);
    cursor: pointer;
    color: white;
    border-radius: 3px; 
    width: 100px;
}

.remove:hover {
    cursor: pointer;
    transition: transform 100ms ;
    transform: scale(1.5);
}

.button {
    color: rgb(226, 230, 241);

}