:root {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-image: radial-gradient(ellipse, rgb(13, 51, 155), white);
}
p {
    text-align: center;
    padding-top: 30px;
}

h1 {
    text-align: center;
    font-size: 24px;
}

.title {
    font-size: 50px;
}


.columns {
    padding-top: 30px;
    margin:auto;
    text-align: center;
}

.column:hover {
    cursor: pointer;
    transition: transform 100ms ;
    transform: scale(1.125);
}

.box{
    min-height: 400px;    
}

input {
margin-bottom: 10px;
margin-top: 30px;
}

.field {
    margin-left: 30%;
    margin: auto;
    width: 30%;
}

.search-result{
    background-color:rgb(217, 224, 245);
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

.next-result:hover{
    cursor: pointer;
    transition: transform 100ms ;

    transform: scale(1.15);
}

.button:hover {
    cursor: pointer;
    transition: transform 100ms ;
    transform: scale(1.1); 
}

#grocery-list {
    padding-top: 30px;

    transform: scale(1.3);
}

.options {
    margin: auto;
    width: 200px;
}

.spacing {
    margin-left: 80px;

}

#extra-day{
    display: none;
}

#food-search-btn, #exercise-search-btn, .next-result {
    width: 175px;
}