p {
    text-align: center;
}

.columns {
    padding-top: 25px;
    margin:auto;
    text-align: center;
}

.column:hover {
    cursor: pointer;
    transition: transform 100ms ;
    transform: scale(1.3);
}